@model Vehicles.API.Models.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<h2>Crear</h2>
<h4>Usuario</h4>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <partial name="_User" />

            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Nuevo </button>
                <a asp-action="Index" class="btn btn-secondary"><i class="glyphicon glyphicon-fast-backward"></i> Regresar </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}